* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 75px;
    background: linear-gradient(to bottom, #001f3f, #001a33);
    overflow: hidden;
 
    align-items: center;
  }
  
  #horloge{
    margin-top: 10px;
    height: fit-content;
    width: 200px;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 2.2em;
    border-radius: 10px;
    background-color: rgb(216, 234, 243);
    font-weight: bold;
  }


  #chrono_seconde, #chrono_minute{
    width:fit-content;
  }
  .memory-game {
    width: 640px;
    height: 640px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    /*width: calc(25% - 10px);*/
    width: 200px;
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-radius: 20px;
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 0px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }


  /****************Code ben**************/
  #dialogue[open]
  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(182, 232, 232, 0.5);
  }


  #formulaire
  {
    border-color: #1C7CCC;
    border-radius: 20px;
    padding-top:50px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, fit-content);
    grid-template-areas: 
    "item1"
    "item2"
    "item3";
    gap:10px
  }

  .boite_dialogue{
    place-items: center;
  }

  #entete{
    grid-area: item1;
    display: grid;
    gap:10px;

  }

  #contenu{
    grid-area: item2;
    display: flex;
    justify-content: space-between;
  }

  #contenu2{
    margin-left: 80px;
  }
  #bas{
    grid-area: item3;
  }

  #tiret{
    width: 80%;
    border-color: rgb(14, 170, 243);
  }

  #titre{
    font-weight: bold;
    font-size: 50px;
  }

  .titre1{
    font-weight: bold;
    font-size: 28px;
  }

  #texte2{
    padding-top: 10px;
  }

  .italic{
    font-style: italic;
    font-size: 20px;
  
  }

  #ferme_dialogue{
    display: grid;
    gap:20px;
    background-color: #1C7CCC;
    color: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;
    width: 290px;
    text-align: center;
  }

  #lien{
    text-decoration: none;
    font-weight: bold;
    color: rgb(14, 170, 243);
  }

  #nom_auteur, #lien{
    font-size: 20px;
  }

  #image{
    height: 250px;
  }

  #fermerPourToujours:hover{
    cursor: pointer;
  }

  #boutons{
    margin-top: 10px;
    display: flex;
    width: 420px;
    justify-content: space-between;
  }
  #score{
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    height: 35px;
    margin-top: 10px;
    background-color:red;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    opacity: 0;
  }

  .apparition{
    animation: score 5s forwards;
  }
  .btn{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
  }
  #rejouer:hover{
    animation: fillBoxRejouer 3s forwards;
  }
  #pause:hover{
    animation: fillBoxPause 3s forwards;
  }

  @keyframes fillBoxRejouer { 
    0% {
       background-color: rgb(192, 206, 251); 
      } 
    25% {
        background-color: rgb(128, 156, 250); 
      } 
    50% {
        background-color: rgb(71, 114, 253); 
      } 
    75% {
        background-color: rgb(41, 90, 248); 
      } 
    100% {
        background-color: rgb(5, 61, 245); 
      } 
  }

  .snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    top: -10%;
    font-size: 1.5em;
    color: white;
    user-select: none;
    animation-name: snowflake-fall, snowflake-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
  }

@keyframes snowflake-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
  }

@keyframes snowflake-shake {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(80px);
    }
}

  @keyframes fillBoxPause { 
    0% {
       background-color: rgb(251, 192, 192); 
      } 
    25% {
        background-color: rgb(252, 89, 89); 
      } 
    50% {
        background-color: rgb(252, 48, 48); 
      } 
    75% {
        background-color: rgb(255, 26, 34); 
      } 
    100% {
        background-color: rgb(254, 9, 9); 
      } 
  }

  @keyframes score{
    0%{
      opacity:0;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      opacity: 1;
    }
  }